<p>Updated to Vim 8.2.2681.</p>

<p>This is a small update mostly containing a fix to a rendering bug in Core Text renderer.</p>

<h1 id="fixes">Fixes</h1>

<ul>
  <li>Fixed a rendering issue where MacVim would stop drawing text when the computer is running low on memory. Previously the user would have to restart MacVim in order to get the rendering back. <a href="https://github.com/macvim-dev/macvim/issues/1164">#1164</a></li>
</ul>

<h1 id="compatibility">Compatibility</h1>

<p>Requires macOS 10.9 or above.</p>

<p>Script interfaces have compatibility with these versions:</p>

<ul>
  <li>Lua 5.4</li>
  <li>Perl 5.18</li>
  <li>Python2 2.7</li>
  <li>Python3 3.9</li>
  <li>Ruby 3.0</li>
</ul>
